
<% candidates.forEach((candidate) => { %>

  <li><img src=src="https://specials-images.forbesimg.com/imageserve/58a10e494bbe6f0e55869f1c/416x416.jpg?background=000000&cropX1=209&cropX2=520&cropY1=85&cropY2=396" style="width:50% height:" class="d-inline-block align-middle" alt=""> <a  href="<%= candidatesPath(candidate) %>"> <%= candidate.name %></a></li>
  <br />
<% }) %>

