<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Le Creo</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header class="w3-container w3-teal" height="100">
      <a class="navbar-brand" href="/">
         <img src="/assets/like.png" width="64" height="64" class="d-inline-block align-middle" alt="">
         Le Creo
       </a>
       <a class="navbar-brand" href="/candidates">
         |  Candidatos
       </a>

    </header>
     <%- body %>

    <script src="/assets/app.js"></script>
  </body>

  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="w3-container w3-teal w3-padding-64 w3-center">
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
   <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>



</html>
